<link rel='stylesheet' href='/css/chatbox.css'>
<aside id='chat-box'>
    <div id='chat-message-display'>
        <ul id='chat-message-list'>
            <li class = 'other-message'>
                <span>
                    Hey Archit!
                </span>
            </li>
            <li class = 'self-message'>
                <span>
                    Hello there!
                </span>
            </li>
        </ul>

    </div>
    <div>
        <div id='chat-input-form'>
        <input type='text' id='a' name='chat-message-input' placeholder="Type message...">
        <input type='button' id='b' value='Send'>
        </div>
    </div>
</aside>