
<br>
<br>

<form method="POST" action='/users/forgot-password-send-mail'>

<input type='email' required name='email' placeholder="Please Enter Your Email">
<input type="submit" value='Submit'>

</form>