<p>You have come to the home page.</p>

<section id='feed-posts'>
    <h4>
        Posts
    </h4>
    <form action="/users/getPost" id='new-post-form' method="POST">
        <textarea name='content' cols="30" rows="3" placeholder="Type something..."></textarea>
        <br>
        <input type="submit" value='POST'>
    </form>


</section>

