<link rel='stylesheet' href='/css/home.css'>
<p>You have come to the home page.</p>
<div id='home-container'>
    <section id='feed-posts'>
<% if(locals.user){%>
    <%-include('_post_create_form')-%>
<%}%>
    <br>
    
    <h4>Your Posts</h4>
    <div id='post-display'>
    <ul>
        <% for (post of posts){%>
            <%-include('_posts')-%>
        <%}%>
    </ul>
    </div>
    </section>

    <section id = 'user-friends'>
        <%if(locals.user){%>
        <h4>Friends</h4>
        <ul>
            <% for (u of all_users){%>
                <li><a href='/users/profile/<%=u.id%>'><%=u.name%></a></li>
            <%}%>
        </ul>
    <%}%>
    </section>
</div>


