<h1>Sign Up</h1>

<form method="POST" action='/users/signUp/create'>
    <input type="text" name='name' required placeholder="Your name">
    <input type="email" name='email' required placeholder="Your email">
    <input type='password' name='password' required placeholder="Enter your password">
    <input type='password' name='confirm_password' required placeholder="Enter your password">
    <input type="submit"value='Sign Up'>
</form>