<h1>Sign In</h1>

<form method="POST" action='/users/signIn/create-session'>
    <input type="email" name='email' required placeholder="Your email">
    <input type='password' name='password' required placeholder="Enter your password">
    <input type="submit"value='Sign In'>
</form>

<p>
    <a href="/users/auth/google">Google Sign In/ Sign Up</a>
</p>