<div>

    <% if(userAndTokenData.isValid == true){%>

        <h1>Okay you can proceed <%= userAndTokenData.user.name%> and your token was <%=userAndTokenData.accessToken%></h1>
        <br>
        <br>
        <h4>Greetings to change your password please headover to </h4>
        <br>
        <a href='http://localhost:200/users/reset-password/?accessToken=<%=userAndTokenData.accessToken%>'>Reset Password</a>
   <%}%>




</div>